version: "3.7"
services:
  redis:
    image: eqalpha/keydb
    restart: always
    hostname: redis
    environment:
      - TZ=$TZ

  drivers:
    build: .
    image: placeos/drivers
    restart: always
    container_name: drivers
    hostname: drivers
    environment:
      - CRYSTAL_PATH=lib:/lib/local-shards
    depends_on:
      - redis
    ports:
      - 127.0.0.1:8085:8080
      - 127.0.0.1:4444:4444
    volumes:
      - ./drivers/:/src/drivers/
      - ./repositories/:/src/repositories/
      - ./lib/:/lib/local-shards/
    environment:
      - REDIS_URL=redis://redis:6379
      - TZ=$TZ
