version: "3.7"

x-build-client-env: &build-client-env
  PLACEOS_BUILD_HOST: ${PLACEOS_BUILD_HOST:-build}
  PLACEOS_BUILD_PORT: ${PLACEOS_BUILD_PORT:-3000}

services:
  # Driver test harness
  drivers:
    image: placeos/drivers-spec:crystal-build-${CRYSTAL_VERSION:-1.1.1}
    restart: always
    container_name: placeos-drivers
    hostname: drivers
    depends_on:
      - build
      - redis
      - install-shards
    ports:
      - 127.0.0.1:8085:8080
      - 127.0.0.1:4444:4444
    volumes:
      - ${PWD}/.logs:/app/report_failures
      - ${PWD}/repositories:/app/repositories
      - ${PWD}:/app/repositories/local
    environment:
      <<: *build-client-env
      CI: ${CI:-}
      CRYSTAL_PATH: lib:/lib/local-shards
      REDIS_URL: redis://redis:6379
      TZ: $TZ

  build:
    image: placeos/build:${PLACE_BUILD_TAG:-nightly}
    restart: always
    hostname: build
    volumes:
      - ${PWD}/repositories:/app/repositories
      - ${PWD}:/app/repositories/local
    environment:
      AWS_REGION: ${AWS_REGION:-ap-southeast-2}
      AWS_S3_BUCKET: ${AWS_S3_BUCKET:-placeos-drivers}
      AWS_KEY: ${AWS_KEY}
      AWS_SECRET: ${AWS_SECRET}
      GIT_DISCOVERY_ACROSS_FILESYSTEM: 1
      PLACEOS_BUILD_LOCAL: 1
      PLACEOS_ENABLE_TRACE: 1
      TZ: $TZ

  redis:
    image: eqalpha/keydb
    restart: always
    hostname: redis
    environment:
      TZ: $TZ

  # Ensures shards are installed.
  install-shards:
    image: crystallang/crystal:${CRYSTAL_VERSION:-1.1.1}-alpine
    restart: "no"
    working_dir: /wd
    command: ash -c 'shards check -q || shards install'
    environment:
      SHARDS_OPTS: "--ignore-crystal-version"
    volumes:
      - ${PWD}/shard.lock:/wd/shard.lock
      - ${PWD}/shard.yml:/wd/shard.yml
      - ${PWD}/shard.override.yml:/wd/shard.override.yml
      - ${PWD}/.shards:/wd/.shards
      - ${PWD}/lib:/wd/lib
