name: Build and Publish Drivers
on:
  push:
    branches: [master]

env:
  CRYSTAL_VERSION: 1.4.1
  PLACE_BUILD_TAG: nightly

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    environment: Build
    steps:
      - uses: actions/checkout@v4

      # Binary Cache Logic
      #############################################################################################

      - uses: actions/cache@v3
        with:
          path: binaries
          key: drivers-${{ env.CRYSTAL_VERSION }}-${{ github.run_id }}
          restore-keys: drivers-${{ env.CRYSTAL_VERSION }}-

      #############################################################################################

      - uses: FranzDiebold/github-env-vars-action@v2  # https://github.com/github/feedback/discussions/5251
      - name: Build Drivers
        run: |
          ./harness build \
            --discover \
            --strict-driver-info \
            --repository-uri https://github.com/${{ github.repository }} \
            --repository-path ./repositories/local \
            --ref ${{ github.sha }} \
            --branch ${{ github.ref_name }}
        env:
          CRYSTAL_VERSION: ${{ env.CRYSTAL_VERSION }}
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
          AWS_SECRET: ${{ secrets.AWS_SECRET }}
          AWS_KEY: ${{ secrets.AWS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          # CLOUD_BUILD_SERVER: CLOUD_BUILD_SERVICE_ROOT_ENDPOINT
          # GIT_TOKEN: GIT_TOKEN_FOR_PRIVATE_REPO_IF_REQUIRED
          PLACE_BUILD_TAG: ${{ env.PLACE_BUILD_TAG }}

