name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  schedule:
    - cron: "0 6 * * 1"

jobs:
  style:
    name: "Style"
    runs-on: ubuntu-latest
    container: crystallang/crystal
    steps:
      - uses: actions/checkout@v2
      - name: Format
        run: crystal tool format --check
      - name: Docs
        run: crystal docs
      - name: Lint
        uses: crystal-ameba/github-action@v0.2.12
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  subset-report:
    name: "Subset Report - crystal: ${{ matrix.crystal }}, stable: ${{ matrix.stable }}"
    runs-on: ubuntu-latest
    continue-on-error: ${{ !matrix.stable }}
    strategy:
      fail-fast: false
      matrix:
        stable: [true]
        crystal:
          - 1.0.0
          - 1.1.1
        include:
          - stable: false
            crystal: nightly
    steps:
      - id: changes
        uses: trilom/file-changes-action@v1.2.4
        with:
          output: ' '
      - uses: actions/checkout@v2
      - name: Cache shards
        uses: actions/cache@v2
        with:
          path: lib
          key: ${{ hashFiles('shard.lock') }}
      - name: Driver Report
        # Skip subset report if dependencies have changed
        if: ${{ !contains(steps.changes.outputs.files, 'shard.yml') && !contains(steps.changes.outputs.files, 'shard.lock')  }}
        run: ./harness report ${{ steps.changes.outputs.files }}
        env:
          CRYSTAL_VERSION: ${{ matrix.crystal }}
      - name: Upload failure logs
        if: ${{ failure() }}
        uses: actions/upload-artifact@v2
        with:
          name: logs-${{ matrix.crystal }}-${{ github.sha }}
          path: .logs/*.log

  full-report:
    name: "Full Report - crystal: ${{ matrix.crystal }}, stable: ${{ matrix.stable }}"
    needs: subset-report
    runs-on: ubuntu-latest
    continue-on-error: ${{ !matrix.stable }}
    strategy:
      fail-fast: false
      matrix:
        stable: [true]
        crystal:
          - 1.0.0
          - 1.1.1
        include:
          - stable: false
            crystal: nightly
    steps:
      - uses: actions/checkout@v2
      - name: Cache shards
        uses: actions/cache@v2
        with:
          path: lib
          key: ${{ hashFiles('shard.lock') }}
      - name: Driver Report
        run: ./harness report
        env:
          CRYSTAL_VERSION: ${{ matrix.crystal }}
      - name: Upload failure logs
        if: ${{ failure() }}
        uses: actions/upload-artifact@v2
        with:
          name: logs-${{ matrix.crystal }}-${{ github.sha }}
          path: .logs/*.log
