name: Crystal CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    container:
      image: crystallang/crystal

    steps:
    - uses: actions/checkout@v2
    - name: Format
      run: crystal tool format # pass/fail based on exit code
    - name: Lint
      uses: crystal-ameba/github-action@v0.2.6
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
